[user]
	name = __GIT_USER_NAME__
	email = __GIT_USER_EMAIL__
[credential]
	helper = __GIT_CREDENTIAL_HELPER__
[alias]
	st = status
	ci = commit
	co = checkout
[color]
	diff = auto
	status = auto
	branch = auto
  ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[mergetool]
	keepBackup = false
	prompt = false
[push]
	default = simple
