*.DS_Store
/vim/vim.dotfile/autoload/
/vim/vim.dotfile/plugged/
/vim/vim.dotfile/init.vim
/vim/vim.dotfile/undo/
/vim/vim.dotfile/view/
/vim/vim.dotfile/.netrwhist
/git/gitconfig.dotfile
/bash/profile.dotfile
/tmux/tmux-os.conf
.*.installed_timestamp
Session.vim
