*.DS_Store
/vim/vim.dotfile/autoload/
/vim/vim.dotfile/plugged/
/git/gitconfig.dotfile
/bash/profile.dotfile
.*.installed_timestamp
Session.vim
/tmux/tmux.dotfile/plugins
/tmux/tmux.dotfile/resurrect
