#!/bin/bash

export DOTFILES_ROOT=__DOTFILES_ROOT__

TODO () {
    printf "$(tput setaf 1)TODO$(tput sgr0) $*\n"
}

if [ "$(type -t brew)" != "file" -a "$(type -t brew)" != "function" ]; then
    brew () { return; }
fi

if [ -d ~/.bash.d ]; then
    for f in $(find -L ~/.bash.d -type f -name '*.sh' -maxdepth 1); do
        source $f
    done
fi

export MANPATH="$(brew --prefix coreutils)/libexec/gnuman:$MANPATH"
export PATH=~/bin:/usr/local/bin:/usr/local/sbin:$(brew --prefix coreutils)/libexec/gnubin:${PATH}

# TMUX
if which tmux >/dev/null 2>&1; then
    # if no session is started, start a new session
    test -z ${TMUX} && tmux new-session -A -D -s Pasta -n Console
fi
