<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>local.godoc</string>
	<key>EnvironmentVariables</key>
	<dict>
    	<key>GOPATH</key>
		<string>/Users/dmotylev/Workshop/go</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/godoc</string>
		<string>-http</string>
		<string>:6060</string>
		<string>-play</string>
		<string>-index</string>
		<string>-index_files</string>
        <string>/Users/dmotylev/.cache/godoc/index</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>WorkingDirectory</key>
	<string>/usr/local/var</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/godoc.log</string>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/godoc.log</string>
</dict>
</plist>
